
*{
    margin: 0;
    padding:0;
    border:none;
}

body{
    padding: 0;
    margin: 0;
    background-color: var(---color03);
    box-sizing: border-box;
}

:root{
    ---fontSize-01: 24px;
    ---fontSize-02: 16px;

    ---color01:#565362;
    ---color02:#7b7987;
    ---color03:rgb(217, 217, 210);
}

a{
    text-decoration: none;
    list-style-type: none;
}

li{
    text-decoration: none;
    list-style-type: none;
}


/*Navigation */

nav{
    height: 80px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: linear-gradient( to right,#565362, #7b7987);
    
}

.logo{
    width:42px;
    height: 42px;
    margin: 1rem;
}


.menu{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}
.menu a {
    color:var(---color03);
    padding-right: 2rem;

    
    
}

.menu ul{
    margin-top: 2rem;
}

/*Button*/

.menu-btn-container{
    display: none;
    height: 100%;
    width: 30px;
    cursor:pointer;
    flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle{
    display: none;
}


.menu-btn,
.menu-btn::before,
.menu-btn::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1); 
  border-radius: 2px;
  margin-right: 20px;
}



.menu-btn::before {
    content: '';
    margin-top: -8px;
  }
  
.menu-btn::after {
    content: '';
    margin-top: 8px;
  }
 

#menu-toggle:checked + .menu-btn-container .menu-btn::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
#menu-toggle:checked + .menu-btn-container .menu-btn {
    background: rgba(255, 255, 255, 0);
  }
  
#menu-toggle:checked + .menu-btn-container .menu-btn::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

  

@media (max-width: 700px) {
    .menu-btn-container {
      display: flex;
    }
    .menu {
        position: absolute;
        width:100%;
        top:0;
        margin:0;
        margin-top: 80px;
       
       
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        
        
    }
     #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        display: none;
      }
      
      #menu-toggle:checked ~ .menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        display: flex;
      
      }
     
      
      .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;  
        width: 100%;
        background-color: var(---color01);
        
      }
       
      .menu > a:not(:last-child) {
        border-bottom: 1px solid #444;
      } 
}

/*1st Section */

.btnLearn{
  width: 130px;
  height:30px;
  border-radius: 5px;
  background-color: var(---color01);
  color: var(---color03);
  padding:5px;
  font-weight:600;
  grid-column: 1;
  grid-row: 2;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
}




#section1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 6rem;
  height: 30em;
}

#heading1{
  color: var(---color01);
  font-weight:600;
  font-size: 3rem;
  text-align: center;
  margin-top: 1em;
  
}

#subheader1{
  color: var(---color01);
  font-size: 2rem;
  text-align: center;
}

#paragraph1{
  margin-top: 2rem;
  color: var(---color01);
  text-align: center;
  font-size: 1.2rem;
 
}

#picture1{
  grid-row: 1/5;
  grid-column: 2;
  margin: auto;
  width: 10rem;
  height: 10rem;
}

/* 2nd Section */

#section2 {
  background-color: var(---color01);
  color: var(---color03);
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-column-gap:40px;
  
}

.miniheadline{
  margin: auto;
}

.miniparagraph{
  justify-content: center;
  text-align: center;
}

